* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

nav {
    position: relative;/**/
    background-color: black;
    padding-left: 110px;
}

.navigation {
    display: inline-block;
}

.navigation_logo{
    padding-top: 20px;
    padding-bottom: 19px;
    text-align: left;
}

nav img{
    height: 30px;
}

.navigation_menu {
    position: absolute;
    /*padding-left: 625px;/**/
    top: 25px;
    right: 108px;
    height: 30px;
}

li {
    display: inline;
    padding-left: 24px;
    padding-right: 24px;
}

li a{
    height: 60px;
    padding-bottom: 25px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    align-items: center;
    text-align: right;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

li:last-child {
    padding-right: 0;
}

/*Header
=================================================*/

header {
    position: relative;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5) ), url(../img/background_1.jpg);
}

.header_logo {
    height: 70px;
    width: 129px;
    margin-top: 109px;
    margin-left: 110px;
}

.header_title {
    width: 540px;
    margin-top: 32px;
    margin-left: 110px;
    text-transform: uppercase;
    text-align: left;
    color: #FFFFFF;
}

.header_line {
    width: 64px;
    margin-top: 32px;
    margin-left: 110px;
    border: 1px solid #FFFFFF;;
}

.header_text {
    width: 282px;
    margin-top: 39px;
    margin-left: 110px;
    font-family: Raleway;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.8);
}

.download_btn {
    height: 42px;
    width: 135px;
    margin-top: 39px;
    margin-left: 110px;
    margin-bottom: 101px;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    background-color: transparent;
    outline: none;
}

.form {
    position: absolute;
    overflow: hidden;
    height: 370px;
    width: 370px;
    right: 111px;
    top: 111px;
    border-radius: 8px;
    background-color: white;
}

.header_form {
    height: 56px;
    margin-bottom: 44px;
    /*background: url(../img/Try\ Your\ FREE\ Trial\ Today.svg), no-repeat, center;*/
    background-image: url(../img/Try\ Your\ FREE\ Trial\ Today.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.form_text {
    margin-left: 59px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: left;
    color: #BDBDBD;
}

.form_name_field {
    height: 16px;
    margin-bottom: 19px;
}
.form_email_field {
    height: 19px;
    margin-bottom: 16px;
}

.form_password_field {
    height: 19px;
    margin-bottom: 70px;
}

.form input {
    width: 252px;
    height: 19px;
    margin-left: 59px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    color: #BDBDBD; 
    outline: none;
}

.form button {
    height: 54px;
    width: 370px;
    background: #EC7979;
    color: #FFFFFF;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    outline: none;
}

/*Social media
=============================================*/
.social_media {
    position: relative;
    background:  #F8EFEF;
    padding-top: 15px;
}

.social_title {
    margin-left: 111px;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    align-items: center;
    color: #333333;
}

.social_text {
    width: 365px;
    padding-top: 14px;
    margin-left: 111px;
    padding-bottom: 17px;
    font-family: Open Sans;
    font-size: 14px;
    line-height: 19px;
    align-items: center;
    color: #86878B;
}

.social_media img{
    height: 42px;
    margin-left: 45px;
}

.social_btn {
    position: absolute;
    right: 111px;
    top: 34px;
}

/*main
==================================*/

main {
    position: relative;
    padding-left: 111px;
}

.tab_btn_wrap {
    padding-top: 125px;
    padding-right: 118px;
    display: inline-block;
}

main .tab_btn_wrap button {
    height: 110px;
    width: 112px;
    margin-bottom: 10px;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 4px;
}


.pink_btn {
    background: #EC7979;
}

.dark_btn {
    background: #333333;
}

.main_information {
    padding-top: 126px;
    display: inline-block;
    position: absolute;
}

.main_title {
    padding-bottom: 58px;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
    color: #000000;
}

.main_text {
    width: 572px;
    margin-top: 1px;
    font-family: Open Sans;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #86878B;
}

.main_download_btn {
    height: 42px;
    width: 135px;
    margin-top: 89px;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    background-color:#EC7979;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    outline: none;
}

.main_img_city {
    position: absolute;
    display: inline-block;
    left: 963px;
    top: 100px;
}

/*section_card*
===========================================*/

.section_card {
    /*padding-left: 110px;*/
}

.section_card_header {
    padding-top: 80px;
    text-align: center;
}

.section_card_title {
    height: 38px;
    font-family: 'Raleway';
    text-transform: uppercase;
    font-size: 36px;
    line-height: 42px;
    color: #212121;
}

.section_card_header hr {    
    margin: 34px auto;
    border: none;
    width: 64px;
    height: 2px;
    background-color: #E72424;
}

.section_card_description {
    height: 19px;
    font-family: 'Open Sans', sans-serif;;
    font-size: 14px;
    line-height: 19px;
    color: #86878B;
}   

.circle {
    border: 2px solid #E72424;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    margin: 0 auto;
    box-sizing: border-box;  
}

.circle_lamp {
    background: url(../img/lamp.jpg) no-repeat center;
    background-size: 23px 30px;
}

.circle_keyboard {
    background: url(../img/keyboard.jpg) no-repeat center;
    background-size: 37px 26px;
}

.circle_lightning {
    background: url(../img/lightning.jpg) no-repeat center;
    background-size: 21px 33px;
}

.section_card_main {
    text-align: center;
}

.card {
    display: inline-block;
    width: 350px;
    height: 225px;
    margin-top: 34px;
    padding-right: 16px;
    padding-left: 16px;
    text-align: center;
}  

.title_box {
    height: 29px;
    margin-top: 30px;
    margin-bottom: 16px;
    font-family: 'Open Sans', sans-serif;;
    font-weight: bold;
    font-size: 20px;
    color: #333333;
}

.text {
    font-family: 'Open Sans', sans-serif;;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 20px;
    color: #000000;
    width: 350px;
    height: 60px;
}

/*Pricing options
=================================================*/
.option_section {
    text-align: center;
   /* padding-left: 110px;*/
    background: #F5F5F5;
}

.option_container {
    padding-top: 15px;
    padding-bottom: 60px;
}

.option_card {
    position: relative;
    display: inline-block;
    width: 340px;
    margin-left: 39px;
    margin-right: 39px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}

.option_card:nth-child(odd) {
    vertical-align: bottom;
}

.option_card:nth-child(2) {
    height: 485px;
}

.block_header_card {
    height: 50px;
    width: 340px;
    background: #333333;
    margin-bottom: 2px;
}

.block_price {
    height: 100px;
    width: 340px;
    background: #333333;
    margin-bottom: 4px;
}

.block_elements {
    height: 40px;
    width: 340px;
    background: #FFFFFF;
    margin-bottom: 4px;
}

.title_option {
    padding-top: 15px;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}

.option_price {
    padding-top: 26px;
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 35px;
    line-height: 41px;
    text-align: center;
    color: #FFFFFF;
}

.second_option_title {
    padding-top: 17px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

.option_text {
    padding-top: 10px;  
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #86878B;
}

/*Our customers
=================================================*/

.customer {
    /*padding-left: 110px;*/
    padding-bottom: 119px;
}

.customer_header {}

.customer_title {
    padding-top: 80px;
    font-family: Raleway;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #212121;
}

.customer_line {
    width: 64px;
    height: 2px;
    margin: 34px auto;
    border: none;
    background-color: #E72424;
}

.customer_description {
    text-align: center;
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 19px;
    color: #86878B;
}

.customers_container {
    padding-top: 67px;
    text-align: center;
}

.manager_card {
    display: inline-block;
    width: 298px;
    margin-left: 56px;
    margin-right: 56px;
}

.manager_comments {
    height: 100px;
    background: #E2E2E2;
    border-radius: 7px;
}

.manager_words {
    padding-top: 14px;
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #86878B;
}

.about_section {
    padding-top: 22px;
}

.photo_manager {
    width: 70px;
    height: 70px;
    padding-left: 45px;
    display: inline-block;
}

.about_manager {
    width: 174px;
    height: 27px;
    padding-left: 45px;
    text-align: center;
    vertical-align: top;
    display: inline-block;
}

.manager_name {
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    text-align: right;
    color: #333333;
}

.manager_position {
    font-family: Open Sans;
    font-size: 14px;
    line-height: 19px;
    text-align: right; 
    color: #86878B;
}

/*stylish
=================================================*/

.section_stylish {
    text-align: center;
   /* padding-left: 110px;*/
    background:linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ),  url(../img/background_2.jpg);
    background-size: cover;
    color: #fff;
    padding-bottom: 38px;
}

.title_stylish {
    padding-top: 57px;
    font-family: 'Raleway';
    font-weight: normal;
    font-style: normal;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
}

.line_stylish {
    width: 64px;
    height: 2px;
    margin: 34px auto;
    border: none;
    background-color:  #FFFFFF;
}

.mask {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 34px;
}

.download_button {
    width: 135px;
    height: 42px;
    font-family: 'Open Sans', sans-serif;;
    font-weight: 600;
    font-size: 15px;
    color:#FFFFFF    ;
    line-height: 20px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    background-image: none;
    margin-top: 30px;
    background: transparent;
    outline: none;
}

.download_button:hover {
    color: greenyellow;
    border-color:greenyellow;
    transition: 2s;
    transform: rotate(360deg) scale(1.2);
}

/*Contacts
=================================================*/

.contact {
    padding-bottom: 44px;
    text-align: center;
}

.contact input {
    outline: none;
}

textarea {
    outline: none;
}

.contact_header {
    padding-top: 80px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #212121;
}

.contact_line {
    width: 64px;
    border: none;
    height: 2px;
    background: #E72424;
    margin: 34px auto;
}

.contact_description {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #86878B;
}

.contact_form {
    text-align: center;
    padding-top: 91px;
}

.contact_data {
    display: inline-block;
    margin-right: 111px;
}

.contact_data_comment {
    display: inline-block;
    vertical-align: top;
    margin-left: 111px;
}

.field_contact {
    margin-left: 0;
}

.contact_name {
    width: 478px;
    height: 32px;
    margin-bottom: 31.8px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    color: #BDBDBD;
}

.contact_email {
    width: 478px;
    height: 32px;
    margin-bottom: 31.8px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    color: #BDBDBD;
}

.contact_password {
    width: 478px;
    height: 32px;
    margin-bottom: 31.8px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    color: #BDBDBD;
}

.contact_comment {
    width: 478px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    color: #BDBDBD;
}

.send_btn {
    width: 166px;
    height: 42px;
    margin-top: 80px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    background: #EC7979;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    outline: none;
}

/*Footer
=================================================*/
footer {
    text-align: center;
    background-color: #000000;    
    /*padding-left: 110px;*/
}

.footer_text {
    padding-top: 18px;
    font-family: 'Open Sans', sans-serif;;
    font-size: 12px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.5);
    padding-bottom: 15px;
}

.footer_icon {
   width: 23px;
   height: 23px;
   box-sizing: content-box;
   padding-top: 30px;
   padding-right: 5px;
   padding-left: 5px;
}

footer a{
    padding-left: 5px;
    padding-right: 5px;
}

.footer_icon:hover {
    transition: 0.25s;
    padding: 5px;
}